.addveh{
    /* background-image: url(./images/image_2.jpg) ; */
    background-color: darkcyan;
    justify-content: center;
    /* background-attachment: fixed; */
    /* background-position: center ; */
    /* background-repeat: no-repeat; */
    background-size: 100%;
    height: 100%;
    /* height: 100vh; */

    /* --- */

 
  }