.signupform2{
    background-image: url(./images/agency6.jpg) ;
    justify-content: center;
    background-attachment: fixed;
    background-position: center ;
    background-repeat: no-repeat;
    background-size: cover;
}